body{
    background-color: black;
}

#header_19{
    font-family: 'Libre Caslon Text', serif;
    background-color: none;
    font-size: 30px;
    font-style: italic;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-color: rgb(252, 248, 232);
    border-style: groove;
    border-width: 0px 0px 1px 0px;
    color: rgb(252, 248, 232);

}

#menu_19{
    background-color: rgb(45, 37, 6);
    padding: 30px 0px 70px 0px;
    margin: 0px 0px 0px 0px;
    border-color: rgb(252, 248, 232);
    border-style: groove;
    border-width: 0px 0px 1px 0px;
    color: black;
}

#logo_19{
    background-color: none;
    text-align: center;
    text-decoration: none;
    padding: none;
    margin: 0px 30px 0px 30px;
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
    color: rgb(252, 248, 232);
    float: left;
    display: block;
}

/*#nav{}*/

#list_19{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

.nav_button_19 {
    background-color: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: 0px 50px 50px 50px;
    border-radius: 100px 100px 50px 50px;
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;
    color: rgb(252, 248, 232);
    float: right;
    display: block;
}

.nav_button_19:hover{
    background-color: rgb(252, 248, 232);
    color: black;
    transition: background-color, 1s;
}

#grid_19{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    gap: 100px 80px;
    margin: 80px 0px 110px 0px;
    grid-template-columns: auto auto auto;
}

.grid_item_19{
    text-align: center;
}

/*.grid_style{}*/

#footer_19{
    background-color: rgb(252, 248, 232);
    padding: 20px 40px 90px 40px;
}

.share_19{
    list-style: none;
    display: block;
    float: right;
    margin: 0px 10px 0px 0px;
}

.fa {
    background-color: rgb(252, 248, 232);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 0px 30px 0px 30px;
    border-radius: 100px 100px 50px 50px;
    color: black;
    width: 30px;
    float: left;
    display: block;
  }

.fa:hover{
    background-color: black;
    color:rgb(252, 248, 232);
    transition: background-color, 1s;
}

#contributor_19{
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;
    margin: 30px;
    float: left;
    display: block;
}

#github_19{
    font-family: 'Libre Caslon Text', serif;
    text-decoration: none;
    color: black;
}

#github_19:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
}

.iframe_19{
    font-family: 'Libre Caslon Text', serif;
    border-radius: 0px 0px 0px 0px;
    border-style: groove;
    border-width: 20px;
    margin: 0px 0px 0px 0px;
    width: 370px;
    height: 550px;
    opacity: 0%;
}

.iframe_19:hover{
    background-color: none;
    filter: contrast(100%) brightness(100%) sepia(100%);
    transition: filter, 1s;
    opacity: 100%;
    transition: opacity, 1s;
}

.mirror_19{
    border-radius: 0px 0px 0px 0px;
    border-style: groove;
    border-width: 20px;
    margin: 0px 0px 0px 0px;
    width: 370px;
    height: 550px;
    position: absolute;
    display: block;
    background-image: linear-gradient(145deg, rgba(129, 137, 149, 100), rgba(211, 218, 231, 100), rgba(129, 137, 149, 100));

}

@media only screen and (max-width: 600px) {
    #header_19{
        background-color: rgb(252, 248, 232);
        margin: 0px;
    }
    
    #menu_19{
        border: none;
        margin: 0px;
    }
    #logo_19{
        font-size: 25px;
        margin: 0px 100px 0px 20px;
        text-align: left;
        float: left;
    }
    .nav_button_19{
        display: none;
    }

    #grid_19{
        gap: 20px 0px;
        margin: 20px 0px 0px 0px;
        float: left;
    }
    .grid_item_19{
        margin: 0px 0px 20px 0px;
    }

    #footer_19{
        float: left;
        padding: 30px;
        margin: 40px 0px 0px 0px;
    }
    .share_19{
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
    .fa{
       background-color: none;
       font-size: 20px;
       text-align: center;
       text-decoration: none;
       padding: 0px;
       margin: 10px 0px 0px 13px;
       color: black;
       width: 30px;
       float: left;
    }
    #contributor_19{
        margin: 0px 40px 25px 10px;
        font-family: 'Libre Caslon Text', serif;
        font-size: 18px;
        text-align: center;
    }

    .iframe_19{
        width: 290px;
        opacity: 100%;
        border-width: 10px;
    }

    .mirror_19{
        display: none;
        width: 300px;
    }
}