#header{
    background-color: rgb(212, 226, 212);
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0px;
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    color: black;
}

#menu{
    background-color: rgb(252, 248, 232);
    padding: 20px 0px 80px 0px;
    margin: 0px;
}

#logo{
    background-color: none;
    text-align: center;
    text-decoration: none;
    padding: none;
    margin: 10px 30px 0px 30px;
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    color: black;
    float: left;
    display: block;
}

/*#nav{}*/

#list{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

.nav_button {
    background-color: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: 10px 50px 0px 50px;
    border-radius: 100px 100px 50px 50px;
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    color: black;
    float: right;
    display: block;
}

.nav_button:hover{
    background-color: rgb(236, 179, 144);
    color: rgb(252, 248, 232);
    transition: background-color, 1s;
}

#title{
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    font-weight: bold;
    margin: 60px 0px 60px 0px;
    text-align: center;
}

#contact_us{
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 45px;

}

.item{
    font-family: 'Libre Caslon Display', serif;
    font-size: 30px;
}

form {
  background: rgb(251, 240, 233);
  border-radius: 100px 100px 50px 50px;
  margin: 10px 150px 10px 150px;
  padding: 30px 100px 50px 100px;
  box-shadow: 0 2px 5px #ccc;
  outline: none;
  font-family: 'Libre Caslon Display', serif;
  font-size: 20px;
  color: black;
  line-height: 50px;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid rgb(252, 248, 232);
  border-radius: 100px 100px 50px 50px;
}
input {
  width: calc(100% - 10px);
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-family: 'Libre Caslon Display', serif;
  font-size: 25px;
  font-style: italic;
}
select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}
textarea {
  width: calc(100% - 6px);
}

input:hover,
select:hover,
textarea:hover,
.preferred-metod label:hover input {
  box-shadow: 0 0 5px 0 rgb(236, 179, 144);
  transition: box-shadow, 1s;
}
.preferred-metod label {
  display: block;
  margin: 5px 0;
}
.preferred-metod:hover input {
  box-shadow: none;
}
.preferred-metod-item input,
.preferred-metod-item span {
  width: auto;
  vertical-align: middle;
}
.btn-block {
  margin-top: 20px;
  text-align: center;
}
button {
  width: 150px;
  padding: 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 100px 100px 50px 50px;
  background-color: rgb(63, 90, 63);
  font-size: 20px;
  color: rgb(252, 248, 232);
  cursor: pointer;
  margin: 40px 0px 40px 0px;
}
button:hover {
  background-color: rgb(223, 120, 97);
  transition: background-color, 1s;
}
@media (min-width: 568px) {
  .name-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input {
    width: calc(50% - 20px);
  }
}

#footer{
    background-color: rgb(223, 120, 97);
    padding: 20px 40px 90px 40px;
    margin: 100px 0px 0px 0px;
}

.share{
    list-style: none;
    display: block;
    float: right;
    margin: 0px 10px 0px 0px;
}

.fa {
    background-color: rgb(251, 237, 234);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 0px 30px 0px 30px;
    border-radius: 100px 100px 50px 50px;
    color: black;
    width: 30px;
    float: left;
    display: block;
  }

.fa:hover{
    background-color: rgb(236, 179, 144);
    color:rgb(252, 248, 232);
    transition: background-color, 1s;
}

#contributor{
    font-family: 'Libre Caslon Display', serif;
    font-size: 20px;
    margin: 30px;
    float: left;
    display: block;
}

#github{
    font-family: 'Spectral SC', serif;
    text-decoration: none;
    color: rgb(252, 248, 232);
}

#github:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(252, 248, 232);
}